//light mode
//$page-color: #ebecf1;
//$shadow-up: 4.5px 4.5px 9px #cbcbcb, -4.5px -4.5px 9px #ffffff;
//$shadow-down: inset 4.5px 4.5px 9px #cbcbcb, inset -4.5px -4.5px 9px #ffffff;
$primary: #eb5160;
$primary-light: #eb7581;
$secondary: #008cff;
$secondary-light: #39a6ff;

:root {
    --page-color: #ebecf1;
    --shadow-up: 4.5px 4.5px 9px #cbcbcb, -4.5px -4.5px 9px #ffffff;
    --shadow-down: inset 4.5px 4.5px 9px #cbcbcb, inset -4.5px -4.5px 9px #ffffff;
}
//dark mode
// $page-color: #191a1e;
// $shadow-up: 6px 6px 12px #0e0e0e, -4px -4px 10px rgba(95, 94, 94, 0.25);
// $shadow-down: inset 6px 6px 12px #0e0e0e, inset -4px -4px 10px rgba(95, 94, 94, 0.25);
// $primary: #eb5160;
// $primary-light: #eb7581;
// $secondary: #008cff;
// $secondary-light: #39a6ff;

body {
    font-family: "Roboto Slab", serif;
    background-color: var(--page-color);
    min-height: 100vh;
    position: relative;
}

a{
    text-decoration: none;
}

.theme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    &__icon {
        background-color: $secondary;
        margin: 0 auto;
        width: 50%;
        padding-bottom: 50%;
        transition: all 0.2s;
        &:hover {
            transform: scale(1.3);
        }
        &:active {
            background-color: $secondary-light;
            transform: scale(1.1);
        }
    }
}

.heading {
    color: $primary;
    margin: 0 auto;
    text-align: center;
    margin: 2rem 0;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box {
    position: relative;
    flex: 0 0 25%;
    height: auto;
    background-color: var(--page-color);
    box-shadow: var(--shadow-up);
    margin: 1rem;
    transition: all 0.3s;
    &:active {
        box-shadow: var(--shadow-down);
        .icon {
            transform: translateY(0.3rem) scale(0.95);
            &__image {
                background-color: $secondary-light;
            }
            h3 {
                color: $secondary-light;
            }
        }
    }
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.icon {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s;
    color: $primary;
    &__image {
        margin: 0 auto;
        width: 50%;
        padding-bottom: 50%;
        height: auto;
        display: inline-block;
        background-color: $secondary;
    }
    h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 2px;
        color: $secondary;
    }
}

.tagBox{
    position: absolute;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: -.6rem;
    left: -.6rem;
    #tag{
        color: $primary;
        font-weight:bold;
        font-size: 1.2rem;
    }
}