<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Titan Beats</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/css/logo/music-player-favicon.svg"
    />
        <link
            href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/lite.css" />
    </head>
    <body>
        <input id="getMood" type="hidden" value="<%=mood%>">
        <div id="content">
            <audio id="audio"></audio>
        </div>
        <!-- <button id="quote">Get Quotes</button> -->
        <div class="quoteBox">
            <p id="text">&#128151 Made with Love</p>
            <p id="author"></p>
        </div>

        <script src="/js/vendor/animejs/lib/anime.min.js"></script>
        <script src="/js/lite/liteplayer.js" type="module"></script>
    </body>
</html>
