<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/css/logo/music-player-favicon.svg"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/menu.css" />
    <title>Titan Beats</title>
  </head>
  <body>
    <div class="theme">
      <div
        class="theme__icon"
        style="
          -webkit-mask-box-image: url('css/icons/dark.svg');
          mask: url('css/icons/dark.svg');
          mask-size: cover;
        "
      ></div>
    </div>
    <h1 class="heading">Choose Your Mood</h1>
    <div class="row">
      <div id="bright" class="box">
        <div class="icon">
          <div
            class="icon__image"
            style="
              -webkit-mask-box-image: url('css/icons/sun.svg');
              mask: url('css/icons/sun.svg');
              mask-size: cover;
            "
          ></div>
          <h3>Bright</h3>
        </div>
      </div>

      <div id="dreamy" class="box">
        <div class="icon">
          <div
            class="icon__image"
            style="
              -webkit-mask-box-image: url('css/icons/sleeping.svg');
              mask: url('css/icons/sleeping.svg');
              mask-size: cover;
            "
          ></div>
          <h3>Dreamy</h3>
        </div>
      </div>

      <div id="hopeful" class="box">
        <div class="icon">
          <div
            class="icon__image"
            style="
              -webkit-mask-box-image: url('css/icons/hope.svg');
              mask: url('css/icons/hope.svg');
              mask-size: cover;
            "
          ></div>
          <h3>Hopeful</h3>
        </div>
      </div>

      <div id="energetic" class="box">
        <div class="icon">
          <div
            class="icon__image"
            style="
              -webkit-mask-box-image: url('css/icons/thunderbolt.svg');
              mask: url('css/icons/thunderbolt.svg');
              mask-size: cover;
            "
          ></div>
          <h3>Energetic</h3>
        </div>
      </div>

      <div id="relaxing" class="box">
        <div class="icon">
          <div
            class="icon__image"
            style="
              -webkit-mask-box-image: url('css/icons/exercise.svg');
              mask: url('css/icons/exercise.svg');
              mask-size: cover;
            "
          ></div>
          <h3>Relaxing</h3>
        </div>
      </div>

      <div id="subconsciousMind" class="box">
        <div class="icon">
          <div class="tagBox">
            <p id="tag">New!</p>
          </div>
          <div
            class="icon__image"
            style="
              -webkit-mask-box-image: url('css/icons/mind.svg');
              mask: url('css/icons/mind.svg');
              mask-size: cover;
            "
          ></div>
          <h3>Subconscious Mind</h3>
        </div>
      </div>
    </div>
    <script src="js/vendor/animejs/lib/anime.min.js"></script>
    <script src="js/menu/menuTheme.js"></script>
    <script src="js/menu/menu.js"></script>
  </body>
</html>
