<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" sizes="any" type="image/svg+xml" href="/css/logo/music-player-favicon.svg" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/menu.css" />
        <title>Titan Beats</title>
    </head>
    <body>
        <div class="theme">
            <div class="theme__icon" style="-webkit-mask-box-image: url('css/icons/dark.svg')"></div>
        </div>
        <h1 class="heading">Choose You Mood</h1>
        <div class="row">
            <div class="box">
                <div class="icon">
                    <div class="icon__image" style="-webkit-mask-box-image: url('css/icons/sun.svg')"></div>
                    <h3>Bright</h3>
                </div>
            </div>

            <div class="box">
                <div class="icon">
                    <div class="icon__image" style="-webkit-mask-box-image: url('css/icons/sleeping.svg')"></div>
                    <h3>Dreamy</h3>
                </div>
            </div>

            <div class="box">
                <div class="icon">
                    <div class="icon__image" style="-webkit-mask-box-image: url('css/icons/hope.svg')"></div>
                    <h3>Hopeful</h3>
                </div>
            </div>

            <div class="box">
                <div class="icon">
                    <div class="icon__image" style="-webkit-mask-box-image: url('css/icons/thunderbolt.svg')"></div>
                    <h3>Energetic</h3>
                </div>
            </div>

            <div class="box">
                <div class="icon">
                    <div class="icon__image" style="-webkit-mask-box-image: url('css/icons/exercise.svg')"></div>
                    <h3>Relaxing</h3>
                </div>
            </div>
        </div>
        <script src="js/vendor/animejs/lib/anime.min.js"></script>
        <script src="js/menuTheme.js"></script>
    </body>
</html>
