html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  position: relative; }

.theme-btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 500; }
  .theme-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s;
    -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4)); }
    .theme-btn img:hover {
      transform: scale(1.2); }

.menu:hover ol {
  display: block; }

.menu img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  z-index: 999;
  transition: all 0.2s;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4)); }
  .menu img:hover {
    transform: scale(1.2); }

.menu ol {
  z-index: 1000;
  list-style: none;
  display: none;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  min-width: 10%;
  height: auto;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(180deg, rgba(25, 0, 116, 0.123), rgba(158, 13, 13, 0.205));
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); }
  .menu ol a {
    text-decoration: none;
    color: #fff;
    padding: 0 12px; }
    .menu ol a:hover {
      color: #e7e6e6;
      text-decoration: underline; }
  .menu ol li {
    display: block;
    padding: 0.5rem 0; }

.screen-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  z-index: 500; }
  .screen-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s;
    -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4)); }
    .screen-btn img:hover {
      transform: scale(1.2); }

.wraper {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .wraper__vector {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; }
    .wraper__vector--Back {
      z-index: 100; }
    .wraper__vector--Middle {
      z-index: 110; }
    .wraper__vector--Front {
      z-index: 120; }
    .wraper__vector--Mountains {
      z-index: 90; }
    .wraper__vector--Sky {
      z-index: 80; }

.sun {
  color: rgba(241, 241, 241, 0.342);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  z-index: 81; }
  .sun svg {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 50ms linear;
    will-change: transform; }
  @media only screen and (max-width: 600px) {
    .sun {
      width: 15rem;
      height: 15rem; } }
  @media only screen and (max-width: 400px) {
    .sun {
      width: 10rem;
      height: 10rem; } }
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    .sun {
      width: 10rem;
      height: 10rem; } }

.mist {
  z-index: 84;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }
  .mist svg {
    width: 100%;
    display: block; }
    .mist svg path {
      fill: rgba(235, 193, 255, 0.13); }

.cloud {
  z-index: 89;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20rem; }
  .cloud svg {
    width: 20%;
    height: 20%;
    position: absolute; }
  .cloud--1 {
    left: -20%;
    top: 10%;
    transform: scale(1.1); }
  .cloud--2 {
    left: -20%;
    top: 15%;
    transform: scale(1.5); }
  .cloud--3 {
    left: -20%;
    top: 20%;
    transform: scale(2); }
  .cloud--4 {
    left: -20%;
    top: 30%;
    transform: scale(1); }
  @media only screen and (max-width: 600px) {
    .cloud {
      height: 15rem; } }
  @media only screen and (max-width: 400px) {
    .cloud {
      height: 10rem; } }
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    .cloud {
      height: 10rem; } }

.cloud-back {
  z-index: 88;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20rem; }
  .cloud-back svg {
    width: 7%;
    height: 7%;
    position: absolute; }
  .cloud-back--1 {
    left: -20%;
    top: 3%;
    transform: scale(1.1); }
  .cloud-back--2 {
    left: -20%;
    top: 5%;
    transform: scale(1.5); }
  .cloud-back--3 {
    left: -20%;
    top: 7%;
    transform: scale(2); }
  @media only screen and (max-width: 600px) {
    .cloud-back {
      height: 15rem; } }
  @media only screen and (max-width: 400px) {
    .cloud-back {
      height: 10rem; } }
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    .cloud-back {
      height: 10rem; } }

.shooting {
  width: 12%;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 83;
  align-items: center;
  transform: rotateZ(30deg); }

.shooting-star {
  display: block;
  width: 0;
  filter: drop-shadow(0 0 6px #699bff); }

#thefile {
  position: absolute;
  top: 10px;
  left: 10px; }

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px); }

#content {
  z-index: 1000; }
